*.fs
impl/
x.*
build/
rascunho.v
utils/
fpga/digilent_arty/vivado_131673.backup.jou
fpga/digilent_arty/vivado_131673.backup.log
fpga/digilent_arty/vivado.jou
fpga/digilent_arty/vivado.log
fpga/digilent_arty/digilent_arty_timing_synth.rpt
fpga/digilent_arty/digilent_arty_route.dcp
fpga/digilent_arty/clockInfo.txt
fpga/digilent_arty/digilent_arty_place.dcp
env/
site/
build/
webtalk*.log
webtalk*.jou
fpga/digilent_arty/usage_statistics_webtalk.xml
fpga/digilent_arty/usage_statistics_webtalk.html
fpga/nexys4_ddr/clockInfo.txt
fpga/nexys4_ddr/usage_statistics_webtalk.html
fpga/nexys4_ddr/usage_statistics_webtalk.xml
fpga/nexys4_ddr/tight_setup_hold_pins.txt
slpp_all
reports
fpga/xilinx_vc709/clockInfo.txt
