[submodule "modules/SPI-Slave"]
	path = modules/SPI-Slave
	url = https://github.com/Unicamp-Odhin/SPI-Slave
[submodule "modules/UART"]
	path = modules/UART
	url = https://github.com/ben-marshall/uart
[submodule "modules/Grande-Risco-5"]
	path = modules/Grande-Risco-5
	url = https://github.com/JN513/Grande-Risco-5.git
