LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "J16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "L5";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "M4";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "R3";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "J18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "P16";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "L4";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "N4";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "sck" SITE "R1";
IOBUF PORT "sck" IO_TYPE=LVCMOS33;
FREQUENCY PORT "sck" 10.0 MHz;

LOCATE COMP "cs" SITE "U1";
IOBUF PORT "cs" IO_TYPE=LVCMOS33;

LOCATE COMP "mosi" SITE "W1";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "M1";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;

LOCATE COMP "rw" SITE "T1";
IOBUF PORT "rw" IO_TYPE=LVCMOS33;

LOCATE COMP "intr" SITE "Y2";
IOBUF PORT "intr" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "V1";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
